opencv-python
numpy
Pillow
matplotlib
gradio
transformers
torch
spellchecker
nltk
easyocr
paddleocr
ultralytics
scikit-image
scipy
imutils
scikit-learn
albumentations
mmcv
mmdet
mmocr
layoutparser
detectron2
basicsr
realesrgan
sentence-transformers
language-tool-python
onnx
onnxruntime
